---
import { getCollection } from "astro:content";
import MainLayout from "../../layout/MainLayout.astro";

const testimonials = await getCollection("testimonials");
---

<MainLayout title="Testimonials">
  <div>
    {
      testimonials.map((testimony) => (
        <div class="p-6 border border-gray-700 mb-6 mx-4 rounded-3xl">
          <div class="flex items-center justify-center">
            <div class="mr-1">{testimony.data.name}</div>
            <div>from {testimony.data.country}</div>
          </div>
          <hr class="my-2" />
          <div>{testimony.data.testimony}</div>
        </div>
      ))
    }
  </div>
</MainLayout>
