---
import MainLayout from "../layout/MainLayout.astro";
import Container from "../components/ui/Container.astro";
import Button from "../components/ui/Button.astro";

const breadcrumbs = [{ label: "Home", href: "/" }, { label: "Contact" }];
---

<MainLayout title="Contact - Through Indonesia" breadcrumbs={breadcrumbs}>
  <Container>
    <h1 class="text-3xl font-bold mb-6">Contact</h1>
    <form
      id="contact-form"
      method="POST"
      action="/api/contact"
      class="flex flex-col gap-3"
    >
      <input
        type="text"
        name="website"
        autocomplete="off"
        tabindex="-1"
        class="hidden"
        aria-hidden="true"
      />
      <input type="hidden" name="timestamp" value={Date.now()} />
      <label class="flex flex-col text-sm flex-1">
        Your name
        <input
          type="text"
          name="fullName"
          placeholder="Jane Doe"
          required
          class="mt-4 p-2.5 border border-gray-300 rounded-md text-sm focus:outline-none focus:border-blue-500"
        />
      </label>

      <div class="border-t border-accent/20 my-1"></div>
      <label class="flex flex-col text-sm flex-1">
        Your email
        <input
          type="email"
          name="email"
          placeholder="you@example.com"
          required
          class="mt-4 p-2.5 border border-gray-300 rounded-md text-sm focus:outline-none focus:border-blue-500"
        />
      </label>

      <div class="border-t border-accent/20 my-1"></div>

      <label class="flex flex-col text-sm">
        Subject
        <input
          type="text"
          name="subject"
          placeholder="Subject"
          required
          class="mt-4 p-2.5 border border-gray-300 rounded-md text-sm focus:outline-none focus:border-blue-500"
        />
      </label>

      <div class="border-t border-accent/20 my-1"></div>

      <label class="flex flex-col text-sm">
        Your message
        <textarea
          name="message"
          placeholder="Write your message here..."
          required
          class="mt-4 p-2.5 border border-gray-300 rounded-md text-sm min-h-35 resize-vertical focus:outline-none focus:border-blue-500"
        ></textarea>
      </label>

      <div class="border-t border-accent/20 my-4"></div>

      <Button id="submit-button" type="submit">Send message</Button>
      <p
        id="form-status"
        class="hidden text-sm mt-2 rounded-md p-3"
        aria-live="polite"
      >
      </p>
    </form>
  </Container>
</MainLayout>

<script>
  (() => {
    const form = document.getElementById("contact-form");

    if (!(form instanceof HTMLFormElement)) {
      console.error("Form element not found.");
      return;
    }

    const status = document.getElementById("form-status");

    if (!(status instanceof HTMLParagraphElement)) {
      console.error("Status element not found.");
      return;
    }

    const statusElement = status;

    function showStatus(message: string, type: string) {
      statusElement.textContent = message;

      statusElement.classList.remove(
        "hidden",
        "bg-green-900",
        "text-green-200",
        "border",
        "border-green-700",
        "bg-red-900",
        "text-red-200",
        "border-red-700",
      );

      if (type === "success") {
        statusElement.classList.add(
          "bg-green-900",
          "text-green-200",
          "border",
          "border-green-700",
        );
      } else {
        statusElement.classList.add(
          "bg-red-900",
          "text-red-200",
          "border",
          "border-red-700",
        );
      }
    }

    form.addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(form);
      const data = Object.fromEntries(formData.entries());

      const website = formData.get("website");

      if (website) {
        return new Response("Spam detected", { status: 400 });
      }

      const timestamp = Number(formData.get("timestamp"));

      const elapsed = Date.now() - timestamp;

      if (elapsed < 3000) {
        return new Response("Too fast", { status: 400 });
      }

      console.log(data);

      const submitButton = document.getElementById("submit-button");

      if (!(submitButton instanceof HTMLButtonElement)) {
        console.error("Submit button not found.");
        return;
      }

      submitButton.disabled = true;
      submitButton.textContent = "Submitting...";

      const response = await fetch("/api/contact", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });

      const result = await response.json();

      if (!response.ok) {
        showStatus(result.error ?? "Registration failed.", "error");
        return;
      }

      showStatus("You should hear back from us soon!", "success");

      submitButton.disabled = false;
      submitButton.textContent = "Register";

      form.reset();
    });
  })();
</script>
