---
interface Props {
  href?: string;
  type?: "button" | "submit" | "reset";
  variant?: "primary" | "secondary";
}

const { href, type = "button", variant = "primary" } = Astro.props;

const variants = {
  primary: "bg-accent text-black",
  secondary: "border border-primary text-primary",
};
---

{
  href ? (
    <a
      href={href}
      class={`
    inline-flex
    items-center
    justify-center
    px-8
    py-4
    rounded-full
    font-semibold
    transition-all
    duration-300
    hover:scale-105
    ${variants[variant]}
  `}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      class={`
    inline-flex
    items-center
    justify-center
    px-8
    py-4
    rounded-full
    font-semibold
    transition-all
    duration-300
    hover:scale-105
    hover:bg-accent
    hover:text-black
    hover:border-0
    ${variants[variant]}
  `}
    >
      <slot />
    </button>
  )
}
